head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")

    base(href="/")

    link(rel="icon" href="../assets/img/favicon.ico")

    title Mediumish - A Medium inspired blogging platform.

    <!-- Fonts -->
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Righteous")
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css")

    <!-- Scripts -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js")
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")

    <!-- Bootstrap core CSS and Custom styles -->
    link(type="text/css" href="../assets/css/bootstrap.min.css")
    link(type="text/css" href="../assets/css/mediumish.css")
body
    +navigation_header_bar
    div(id="app")

    div(class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true")
        div(class="modal-dialog modal-dialog-centered" role="document")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title" id="exampleModalLongTitle")
                    button(type="button" className="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") X
                div(class="modal-body")
                    +atForm


//head
  title blossom

//body
    h1 Welcome to Meteor!
    +listBlogPosts
    +addPostForm

//template(name="listBlogPosts")
    div(id="content")
        each post
            div(class="post")
                h2 title
                div(class="entry") content

//template(name="addPostForm")
    form
        span Title:
        input(type="text" id="titleField")
        br
        span Content:
        textarea(id="contentField")
        br
        span Publish?
        input(type="checkbox" id="publishedField")
        br
        input(type="submit")
